<div class="container contact-form">
  <div class="contact-image">
    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
  </div>

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="card" *ngIf="Details!=null && this.detailsLoaded">
        <img src="../../assets/Images/profilepic.png" alt="John" style="width:100%">
        <h1>{{Details.FirstName}} {{Details.LastName}}</h1>
        <p class="title">{{Details.emailid}}</p>
        <p>Address: {{Details.Address}}</p>
        <p><button>Contact: {{Details.Phone}}</button></p>

        <p><button routerLink="/home">Go Back</button></p>

      </div>

      <div class="card" *ngIf="Details==null && this.detailsLoaded">
          <div class="text-center">
            <h1>
                Details Not Found
            </h1>
            <p><button routerLink="/home">Go Back</button></p>
          </div>
        </div>
    

    </div>
    <div class="col-lg-3"></div>
  </div>
</div>